/* .section{
  margin-bottom: 40px;
} */
.logo{
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  /* .logo{
    width: 80%;
    height: 80%;
  } */






 
  
  
}